/* youtube.css */
body,
#header {
    color: crimson;
    background:  #0f0f0f;
}

#header {
    display: grid;
    grid: auto-flow dense / 1fr 1fr 1fr;
}

button#Hamburger {
    background: none;
    border: none;
    padding: 5px;
    border-radius: 100%;
}
button#Hamburger svg {
    width: 24px;
    height: 24px;
}
button#Hamburger svg path {
    fill: #fff;
}
#logo {
    height: 20px;
}

.header-left,
.header-center,
.header-right {
    display: flex;
    align-items: center;
}
.header-center {
    justify-content: center;
}
.header-right {
    justify-content: flex-end;
}